@import '~antd/dist/antd.css';
@import '~react-image-gallery/styles/css/image-gallery.css';
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  width: 150px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: inherit;
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cndwindows-ro.appspot.com/o/logo%2Flogo_402x2.png?alt=media&token=826c5477-f4e3-428e-a9ef-2649826a9417");
}

.navbar {
    border-radius: 0px;
}
.nav {
  min-height: 50px;
}

.ant-carousel .slick-slide {
  padding: 5px;
  max-height: inherit;
  line-height: inherit;
  background: #fff;
}
.ant-row {
  padding: 5px;
}

.imagineCarousel {
  height: inherit;
  width: inherit;
  background-size: contain;
}
.imagineCarousel:hover {
  cursor: pointer;
}
#root, .row{
  position: relative;
  max-width: 1200px;
  margin: auto;
  background-color: #333;
}

.anticon-facebook:hover {
  color: #3b5998;
  cursor: pointer;
}
.anticon-instagram:hover {
  color: #fbad50;
  cursor: pointer;
}
.anticon-youtube:hover {
  color: #ff0000;
  cursor: pointer;
}

.campanie {
  background-size: cover;
  border: 1px solid;
  color: #333;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  width: 100%;
  height: 240px;
}

.container:hover .overlay {
  height: 20%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.spot1 {
  height: 300px;
  background: #222; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #ffc81c , #ffc61c73);
}
.spot2 {
  height: 300px;
  background: #222; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #ffc61c73 , #222);
}
.spot3 {
  height: 300px;
  background: #222; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #222 , #222);
}
.spot4 {
  height: 300px;
  background: #222; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #222 , #222);
}

.tamplarie_colors {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: 20px;
  font-size: 13px;
  text-align: center;
  opacity: 1;
}

.bara_meniu  {
  border-bottom: 1px solid #000;
  border-top: 2px solid #ffc81c;
  background-color: #222;
  padding: 0px;
}

.footer_style {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.footer_icon_style {
  font-size: 40px;
  padding: 5px;
}

.toast * {
  background-color: #222;
  color: #ffc81c;
  font-weight: bold;
  font-size: 15px;
  padding: 0px;
}

.contact_form {
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

.dialog_text_style {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  
}

.dialog_item {
  text-align: center;
  cursor: pointer;
}

.dialog_item:hover * {
  color: #ffc81c;
  cursor: pointer;
}

#dialog_icon_style * {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: normal;
}

.contact_form_textfield * {
  font-size: 16px;
}

.menu_tab * {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: none;
  color: #fff;
}

.header_contact_row * {
  font-size: 15px;
  color: #fff;
}
.header_contact_row {
  padding: 0px;
}
.header_contact_icon {
  padding-top: 7px;
}

.header_paper * {
  background-color: #222;
}

.acasa_card {
  font-size: 15px;
  letter-spacing: 2px;
}

.servicii_title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20px;
}

.servicii_details {
  font-size: 15px;
  letter-spacing: 2px;
}

.tamplarie_colors {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.tab_accesorii {
  border-bottom: 1px solid #000;
  background-color: #222;
  padding: 0;
}

@media (max-width: 900px) {
  .contact_form {
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: normal;
  }
  .dialog_icon_style * {
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: normal;
  }
  .dialog_text_style {
    font-size: 12px;
    font-weight: normal;
  }
  .contact_form_textfield * {
    font-size: 12px;
  }
  .menu_tab * {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .header_contact_row * {
    font-size: 12px;
  }
  .header_contact_icon {
    padding-top: 10px;
  }
  .servicii_title {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    padding: 15px;
  }
  .servicii_details {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .tamplarie_colors {
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: normal;
  }
}